<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hi, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> nuevo consultorio </h1>
    <form method="post"action="">
        <p>
        Numero Consultorio: 
        <select name="numero">
           {% for consultorio in consultorios %}
                <option> {{consultorio}}</option>
           {% endfor %}
            </select>
            </p>
            <button type="submit" class="btn btn-info">
            guardar
         </button>
     </form>
</body>
</html>