<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hi, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Actualizar medico </h1>
    <form method="post" action="/medicos/update/{{medico_update.id}}">
        <p>Nombre:<input type="text" name="nombre" value="{{ medico_update.nombre }}"/> </p>
        <p>Apellidos: <input type="text" name="apellidos" value="{{ medico_update.apellidos }}"/></p>
        <p>TIpo identificacion:
             <select name="ti" >
                <option
                    {%if medico_update.tipo_identificacion == "TI"%}
                        selected
                    {%endif%}    
                >
                  TI
                </option>
                <option 
                     {%if medico_update.tipo_identificacion == "CC"%}
                       selected
                    {%endif%} 
                >
                CC
                </option>        
             </select> 
        </p>
        <p>Numero identificacion: <input type="text" name="ni" value="{{ medico_update.numero_identificacion }}"/></p>
        <p>Registro medico: <input type="text" name="rm" value="{{ medico_update.registro_medico }}"/></p>
        <p>
            Especialdidad: 
            <select name="es">
                {% for especialidad in especialidades %}
                    <option 
                    {%if  medico_update.especialidad == especialidad %}
                        selected
                    {% endif %}
                    > {{ especialidad }}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit" class="btn btn-primary">
            Actualizar
        </button>
    </form>
</body>
</html>