<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1> Lista de Medicos</h1>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
              <ul class=flashes>
                  {% for message in messages %}
                      <li>{{ message }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    <table class="table table-stiped table-bordered table-danger">
        <thead>
            <tr class="table table-primary">
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>tipo_identificacion</th>
                <th>numero_identificacion</th>
                <th>registro_medico</th>
                <th>especialidad</th>
                <th>ver detalles</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td> {{ medico.nombre }} </td>
                    <td> {{ medico.apellidos }} </td>
                    <td> {{medico.tipo_identificacion}}</td>
                    <td>{{medico.numero_identificacion}}</td>
                    <td>{{medico.registro_medico}}</td>
                    <td>{{medico.especialidad}}</td>
                    <td>
                        <a href="/medicos/{{ medico.id }}">
                            ver detalles
                        </a>
                    </td>
                    <td>
                        <a href="/medicos/update/{{ medico.id }}">
                            Actualizar
                        </a>
                    </td>
                    
                
                <td>
                    <a href="/medicos/delete/{{ medico.id }}">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>