<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Lista de Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>tipo_identificacion</th>
                <th>numero_identificacion</th>
                <th>altura</th>
                <th>tipo_sangre</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td> {{ paciente.nombre }} </td>
                    <td> {{ paciente.apellidos }} </td>
                    <td> {{ paciente.tipo_identificacion }}</td>
                    <td>{{ paciente.numero_identificacion }}</td>
                    <td>{{ paciente.altura }}</td>
                    <td>{{ paciente.tipo_sangre }}</td>
        
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>